body {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

nav {
    border-bottom: 0.3em solid rgb(0, 204, 0);
    flex-basis: 100%;
    padding: 0;
    margin: 0;
}

aside {
    color: rgb(0, 204, 0);
    padding-right: 1em;
    flex: 1;
}

main {
    flex: 4;
}

ol {
    list-style-type: none;
    display: flex;
    margin-bottom: 0.3em;
    padding-left: 0;
    gap: 1em;
}

li {
    display: flex;
    flex-grow: 1;
 }

li > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.3em;
    color: white;
    background-color: rgb(0, 204, 0);
    width: 100%;
    padding-right: 0.7em;
    margin: 0;
}

aside p {
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section {
    display: flex;
}

section > div {
    display: flex;
    flex-flow: column-reverse wrap;
    margin-left: 2em;
    margin-bottom: 2em;
}

li > img {
    width: 3em;
}

div > img {
    width: 13em;
    align-self: center;
}

div > p:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bolder;
    background-color: rgb(0, 204, 0);
    color: white;
    height: 3em;
}

main > section:nth-child(even) > div:nth-child(odd) {
    border: 0.3em solid rgb(0, 204, 0);
}

main > section:nth-child(odd) > div:nth-child(even) {
    border: 0.3em solid rgb(0, 204, 0);
}

aside p:nth-child(even) {
    border-top: 0.3em solid rgb(0, 204, 0);
    border-right: 0.3em solid rgb(0, 204, 0);
}

aside p:nth-child(odd) {
    align-items: flex-end;
}