main {
    align-items: center;
}

div {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 192, 203);
    border: 3em solid transparent;
    border-image-source: url('../img/loremIpsum.png');
    border-image-slice: 20;
    white-space: pre-wrap;
}
