@font-face {
  font-family: 'Edu TAS Beginner';
  src: url("../font/EduTASBeginner-VariableFont_wght.ttf");
}

.animacionEscribir {
    width: 15.5em;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate, blink-no-end .5s 2s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: 'Edu TAS Beginner', Courier, monospace;
}

@keyframes typing {
    from {
      width: 0
    }
}

@keyframes blink {
    50% {
      border-color: transparent
    }
}

/* Nueva animación que no parpadea y que se ejecuta después de un retraso de 2s */
@keyframes blink-no-end {
    to {
      border-color: transparent;
    }
}

@media (max-width: 767px) {
  .animacionEscribir {
      font-size: 2.3rem;
      width: 9.5em;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

}