:root {
    --fondo: #F2EBC4;
    --primario-uno: #BDBF75;
    --primario-uno-trans: #bdbf7589;
    --primario-dos: #D9D5A3;
    --secundario-uno: #59543B;
    --secundario-dos: #3E4008;
    --contraste: #8a9f46;
}

body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: 1em;

    background-color: var(--fondo);
    color: var(--secundario-dos);

    font-size: 1.2em;

    background-image: url('../img/fondo.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-left: 5%;
    margin-right: 5%;
}

header {
    grid-area: 1 / 1 / 2 / 3;
}

header>h1 {
    font-size: 2.5em;
    margin-bottom: 0;
}

header>h3 {
    margin-left: 1em;
    margin-top: 0;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

    height: 2.5em;

    grid-area: 2 / 1 / 3 / 3;

    border: solid 0.3em var(--primario-uno);
    border-radius: 2em;

    overflow: hidden;

    background-color: var(--primario-dos);
}

nav>a {
    color: var(--secundario-dos);
    text-decoration: none;

    padding-left: 0.5em;
    padding-right: 0.5em;

    height: 100%;

    display: flex;
    align-items: center;
}

main {
    grid-area: 3 / 1 / 4 / 2;

    border: solid 0.2em var(--primario-uno);
    border-radius: 1em;

    padding: 1em;

    background-color: var(--primario-uno-trans);
}

aside {
    grid-area: 3 / 2 / 4 / 3;

    border: solid 0.2em var(--primario-uno);
    border-radius: 1em;

    background-color: var(--primario-uno-trans);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--contraste);
    text-decoration: none;
}

/* !css de IDs */
#card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--primario-uno);

    border: 0.3em solid var(--contraste);
    border-radius: 2em;

    overflow: hidden;

    width: 13em;
    height: 15em;
}

#card>a {
    text-decoration: none;
    color: black;

    z-index: 1;
}

#card>a>p {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

#card>a>div {
    position: relative;
    display: block;

    border-bottom: 0.3em solid var(--contraste);

    padding-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#card>a>div>img {
    position: absolute;
    -o-object-fit: cover;
       object-fit: cover;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0.35;

    z-index: -1;
}

#card>a>div>h1 {
    margin: 0;
    padding-top: 0.8em;

    font-size: 1.3em;

    text-align: center;
}

#card a>div>p {
    font-size: 0.85em;

    margin-top: 0;

    text-align: right;
}

/* Media query para dispositivos móviles */
@media (max-width: 767px) {
    header>h3 {
        visibility: hidden;
    }
}

/* Media query para tablets */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Estilos para tablets */
}