body {
    align-items: center;
}

.recuadro1 {
    width: 13%;
    margin-top: 4em;;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(221, 221, 221);
    border: 1em solid transparent;
    border-radius: 1em;

    box-shadow: -2em -2.5em 1em red,
    2em 2.5em 1em rgb(0, 255, 0);
}
