/* ===============================================================
No modificar estos estilos
================================================================== */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
li { 
    list-style: none; 
}
body {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}
header, nav, aside, footer, section, .contenedor {
    border: 2px solid #777;
}
header{
    display:flex;
    justify-content: space-between;
}
main{
    display:flex;
}
.lateral1 { 
    width: 20%; 
}
.contenedor { 
    display:flex;
    width: 80%; 
}
section { 
    width: 80%; 
}
.lateral2 { 
    width: 20%; 
}
footer{
    display:flex;
    justify-content: space-between;
}
nav li { 
    display: inline; 
}
section article img { 
    float: left; 
    width: 100px;
}
/* ================================================================
Añade tus estilos aqui
================================================================== */
* {
    font-family: Arial;
    font-size: 0.9em;
    color: black;
    line-height: 1.4;
}

header, nav, aside, footer, section, .contenedor {
    border: none;
}

header {
    padding: 1em;
}

nav {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #004C99;
    background-color: darkblue;
}

footer {
    font-size: 0.75em;
    padding: 0.5em;
    margin-top: 1em;
    border-top: 1px dotted #C5C5C5;
    border-bottom: 1px dotted #C5C5C5;
    background-color: #CCCCCC;
    color: #555;
}

img {
    margin: 0.5em;
}

.publicidad {
    margin-top: 1em;
    border: 1px dotted #CC6600;
    background-color: #FFFF33;
}

.noticias {
    border: 1px solid #C5C5C5;
    background-color: #CCCCCC;
}

.lateral2 {
    border: 1px solid #CC6600;
    font-size: 0.9em;
}

.fecha {
    display: block;
    text-align: right;
    color: #999;
    width: 100%;
}

.lateral2  > article > h2 {
    font-size: 1em;
    padding: 0.2em;
    background-color: #DB905C;
    color: #FFF;
}

.lateral2  > article > a {
    color: #003366;
}

.noticias, article {
    margin-bottom: 1em;
}

.noticias > h2 > a{
    color: #003366;
}

.logo > h1{
    display: none;
}

.buscador > form >label {
    margin-right: 1em;
}

section >article > h2 {
    font-size: 1.6em;
    color: #CC6600;
    line-height: 1.2;
    margin-bottom: 0.3em;
    word-spacing: 0.3em;
}

nav >ul > li > a{
    font-size: 1.3em;
    margin-right: 1em;
    color: white;
}

.noticias, .publicidad, article {
    padding: 0.5em;
}

section > article > a {
    color: #CC6600;
}

section > article > p {
    margin-top: 0.3em;
    text-indent: 2em;
    text-align: justify;
    line-height: 1.8em;
}

.publicidad > h2 > a {
    color: #CC6600;
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
}

section article p::first-letter {
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
}

.publicidad > p::first-letter {
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
}

nav > ul > li > a {
    letter-spacing: 0.3em;
}