$color-primario: #2E1F27;
$color-secundario: lighten($color-primario, 25%);
$color-terciario: lighten($color-primario, 75%);

$fuente-principal: Arial, sans-serif;
$fuente-secundaria: Verdana, sans-serif;