// Variables de fuentes
$fuentes: (
 'Franklin Gothic Medium': 'Franklin Gothic Medium, Arial Narrow, Arial, sans-serif',
 'Arial': 'Arial, Helvetica, sans-serif',
 'Impact': 'Impact, Haettenschweiler, Arial Narrow Bold, sans-serif'
);

// Variables de tamaños
$tamaños: (
 'Franklin Gothic Medium': 13,
 'Arial': 12,
 'Impact': 5
);

// Variables de colores
$colores-fondo: (
  1: black,
  2: green,
  3: red
);

$colores-letra: (
  1: white,
  2: black,
  3: blue
);
