main, header {
   display: flex;
   justify-content: center;
}

article {
   text-align: center;
}

table {
   border-collapse: collapse; 

}

table, td, th {
   border: 1px solid;
   padding-left: 10px;
   padding-right: 10px;;
 }