body{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
}
table,td,th {
	border:1px solid black;
	padding:10px;
    border-radius: 5%;
	border-collapse:separate; /*Bordes se separan*/
    border-spacing: 2em; /*Tiene sentido se collapse=separate. Si es igual a collapse no tiene efecto */
    empty-cells: hide; /*en la ultima fila hay una celda vacía*/
    margin: 0 auto;
    caption-side: bottom;
}
table{
    /*Table-layout:
        - auto: las celdas y la tabla se ajustan al contenido
        - fixed: las celdas y las tablas se establecen con height y width 
        Se puede utilizar overflow para saber qué hacer con el sobrante.
        Es un cálculo (más lento) sobre cómo dibujar la tabla. Es posible que no se aplique según el cálculo que haga*/
    */
    table-layout: fixed;
    overflow: hidden;
    width: 500px;
}
.img{
    width: 400px;
}
.azal{
     width: 10px; /*No se aplica. Al hacer el cálulo de cómo dibujar la tabla, se encuentra que la magen tiene width:400. A su th le aplica esa misma anchura. Y eso se traslada al otro th, el cual lo traslada a su columna*/
}
h1{
    text-align: center;
}
